services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: desafio
      POSTGRES_USER: desafio
      POSTGRES_PASSWORD: desafio
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
