spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/desafio
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true
server:
  port: 8080
cep:
  base-url: https://cep.la
